@using System.Data
@using AccSys.Web.ReportUtils
@using AccSys.Web.Models

@model DataTable
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<div class="report-sub-title">
    As On Date @ViewBag.Params.Date.ToString("dd/MM/yyyy")
</div>
<div class="trial-balance-summary">
    <table class="report-table">
        <tr>
            <th class="align-left" style="width: 50px">S/L</th>
            <th class="align-left" style="width: 500px">Account Title</th>
            <th class="align-right" style="width: 100px">Debit Amount</th>
            <th class="align-right" style="width: 100px">Credit Amount</th>
        </tr>
        @{
            decimal drTotal = 0.0m, crTotal = 0.0m;
            int rowNo = 1;
        }
        @foreach (DataRow row in Model.Rows)
        {
            decimal amt = Convert.ToDecimal(row["OpeningBalance"]);
            if (amt >= 0)
            { drTotal += amt; }
            else
            { crTotal += -amt; }
        <tr>
            <td>@rowNo</td>
            <td>@row["AccountTitle"]</td>
            <td class="number">@(amt >= 0 ? amt.FormatNumber("0.00") : "-")</td>
            <td class="number">@(amt < 0 ? (-amt).FormatNumber("0.00") : "-")</td>
        </tr>
            rowNo++;
        }
        <tr>
            <th colspan="1"></th>
            <th class="number">Total</th>
            <th class="number">@drTotal.FormatNumber("0.00", true)</th>
            <th class="number">@crTotal.FormatNumber("0.00", true)</th>
        </tr>
    </table>
</div>
